<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="article">
            <form [formGroup]="articleForm" (ngSubmit)="createArticle()">
                <h4 class="text-center">Create Article </h4>
                <p class="mt-3">
                    <label>Enter Article Title</label>
                    <input formControlName="title" placeholder="Article Title" type="text" class="form-control">
                </p>
                <div class="error"
                    *ngIf="articleForm.controls['title'].errors  && articleForm.controls['title'].touched">
                    <p *ngIf="articleForm.controls['title'].errors.required">Title Is Required </p>
                </div>
                <p>
                    <label>Enter Article body </label>
                    <!-- <textarea cols="28" rows="5" class="formControl" formControlName="body" placeholder="Article Body"></textarea> -->
                    <textarea formControlName="body" class="form-control rounded-0" id="exampleFormControlTextarea1"
                        rows="10" placeholder="Article Body"></textarea>
                </p>
                <div class="error" *ngIf="articleForm.controls['body'].errors  && articleForm.controls['body'].touched">
                    <p *ngIf="articleForm.controls['body'].errors.required">Body Is Required </p>
                </div>
                <p class="text-center">
                    <button class="btn btn-primary btn-lg">Create Article</button>
                </p>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>